---
import type { DataProps } from "../interface";
const { name, overview, images } = Astro.props as DataProps;
---

<main>
  <section class="page">
    <picture class="page__img">
      <img src={images.planet} alt={name} />
    </picture>

    <article class="page__content">
      <h1>{name}</h1>
      <p>{overview.content}</p>
      <small>Source : <a href={overview.source}>Wikipedia</a></small>
    </article>
    <div class="page__content-btns">
      <button class="btn btn__state-change">Overview</button>
      <button class="btn btn__state-change">Internal Structure</button>
      <button class="btn btn__state-change">Surface Geology</button>
    </div>
  </section>
</main>

<style>
  .btn__state-change {
    color: white;
    padding: 0.5rem 1rem;
    border: 1px solid white;
  }
</style>
