---
import contentData from "../data/contentData.json";
import "../styles/global.css";

import Nav from "../components/Nav.astro";

interface DataProps {
  name: string;
  overview: {
    content: string;
    source: string;
  };
  structure: {
    content: string;
    source: string;
  };
  geology: {
    content: string;
    source: string;
  };
  rotation: string;
  revolution: string;
  radius: string;
  temperature: string;
  images: {
    planet: string;
    internal: string;
    geology: string;
  };
}

interface Props {
  index: number;
}

const { index }: Props = Astro.props;

const planetData: DataProps = contentData[index];

const {
  name,
  overview,
  structure,
  geology,
  rotation,
  revolution,
  radius,
  temperature,
  images,
} = planetData;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon-32x32.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Planet Facts | {name}</title>
  </head>
  <body>
    <header>
      <h3>THE PLANETS</h3>
      <Nav />
    </header>
    <main>
      <section class="content-area">
        <picture>
          <img src={images.planet} alt={name} />
        </picture>
        <div>
          <h1>{name}</h1>
          <p>{overview.content}</p>
          <small>Source : <a href={overview.source}>Wikipedia</a></small>
          <button class="btn btn__state-change">Overview</button>
          <button class="btn btn__state-change">Internal Structure</button>
          <button class="btn btn__state-change">Surface Geology</button>
        </div>
      </section>
    </main>
  </body>
</html>
